* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #efefef;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: end;
  padding-right: 100px;
  padding-bottom: 200px;
}

.calculator {
  display: grid;
  background-color: grey;
}

.display {
  display: grid;
  padding: 20px;
  justify-content: end;
  background-color: grey;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.operators {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.press-btn,
.press-btn-1,
.press-btn-2 {
  border: 1px solid #d2d2d2;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.press-btn-2 {
  grid-column: 1 / span 2;
}

.amber {
  background-color: orange;
}

.press-btn.amber:hover {
  background-color: peachpuff;
}

.press-btn:hover,
.press-btn-1:hover,
.press-btn-2:hover {
  background-color: #d2d2d2;
}

.Heading {
  padding: 20px 20px;
}

.Heading-2 {
  justify-items: left;
  margin-right: 656px;
  margin-bottom: 314px;
}

.Heading-1 {
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding-right: 50px;
  margin-top: -50px;
  font-size: 1.2rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: #d2d2d2;
  border-radius: 5px;
  padding: 5px;
}

.Description {
  width: 100%;
  font-size: 1.2rem;
  margin-left: 20px;
}

.Description-q {
  text-align: center;
  padding: 250px;
  width: 100%;
  font-size: 1.7rem;
  font-weight: 600;
}
