body {
  background-color: #fff;
}

.app {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 100%;
  max-width: 500px;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.display {
  padding: 20px;
  text-align: right;
  background-color: #888;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.display span {
  font-size: 20px;
  color: #fff;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #e6e6e6;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.5;
}

.operators {
  display: grid;
  float: right;
  width: 15%;
}

.operators button {
  flex: 1 1 0%;
  background-color: darkgoldenrod;
  font-weight: 800;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
}

.numbers button {
  flex: 1 1 33.333%;
  background-color: #e6e6e6;
  color: black;
  border: 1px solid #e6e6e6;
}
